{% extends 'core/base.html' %}

{% block header %}
    Lista de presos
{% endblock header %}

{% block main %}
    <div style="text-align: left;">
        <form action="{% url 'presos:presos_list' %}" method="get" class="form-vertical">
            <input type="text" name="q" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>

        <ul>
        {% for preso in presos %}
            <li>{{ preso.nombre | upper}}, {{ preso.apellido }}
                <a href="{% url 'presos:presos_detail' preso.pk %}">Detalles</a>
                <a href="{% url 'presos:presos_update' preso.pk %}">Cambiar</a>
                <a href="{% url 'presos:presos_confirm_delete' preso.pk %}">Borrar</a>
            </li>
        {% empty %}
            <p>No hay registros</p>
        {% endfor %}
        </ul>
        <button><a href="{% url 'presos:preso' %}">Atras</a></button>
    </div>

{% endblock main %}
