{% extends 'core/base.html' %}

{% block header %}
    Lista de Prisiones
{% endblock header %}

{% block main %}
    <div style="text-align: left;">
        <form action="{% url 'presos:prision_list' %}" method="get">
            <input type="text" name="q" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>
        <ul>
            {% for prision in prisiones %}
                <li>{{ prision.nombre }}</li>
            {% empty %}
            <p>No hay registro</p>
            {% endfor %}
        </ul>
        <button><a href="{% url 'presos:prision' %}">Atrás</a></button>
    </div>
{% endblock main %}
