{% extends 'core/base.html' %}

{% block header %}
    Lista de policias registrados
{% endblock header %}

{% block main %}
<form action="{% url 'policias:policia_listar' %}" method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
{% for policia in policias %}
    <li>{{ policia.nombre }} {{ policia.apellido }} - Nacimiento: {{ policia.nacimiento }}</li>
    
{% endfor %}
<button><a href="{% url 'policias:index' %}">Atras</a></button>
{% endblock main %}




