{% extends 'core/base.html' %}

{% block header %}
    Lista de Policías Registrados
{% endblock header %}

{% block main %}
    <div style="text-align: left;">
        <form action="{% url 'policias:policia_listar' %}" method="get">
            <input type="text" name="q" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>
        <ul>
            {% for policia in policias %}
                <li>{{ policia.nombre}} {{ policia.apellido }} - Nacimiento: {{ policia.nacimiento }}
                    <a href="{% url 'policias:policia_detail' policia.id%}">Detalles</a>
                    <a href="{% url 'policias:policia_update' policia.id %}">Cambiar</a>
                    <a href="{% url 'policias:policia_confirm_delete' policia.id %}">Borrar</a>
                </li>
            {% empty %}
            <p>No hay registro</p>
            {% endfor %}
        </ul>
        <button><a href="{% url 'policias:index' %}">Atrás</a></button>
    </div>
{% endblock main %}
