{% extends 'core/base.html' %}

{% block header %}
    Lista de Policías Registrados
{% endblock header %}

{% block main %}
    <div style="text-align: left;">
        <form action="{% url 'policias:policia_listar' %}" method="get">
            <input type="text" name="q" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>
        <ul>
            {% for policia in policias %}
                <li>{{ policia.nombre }} {{ policia.apellido }} - Nacimiento: {{ policia.nacimiento }}</li>
            {% endfor %}
        </ul>
        <button><a href="{% url 'policias:index' %}">Atrás</a></button>
    </div>
{% endblock main %}
